---
import { Frontmatter } from "src/misc";
import BaseLayout from "./BaseLayout.astro";

export interface Props {
    content: Frontmatter;
}

const { content } = Astro.props as Props;
const {
    title,
    image,
    image1,
    image2,
    image3,
    image4,
    image5,
    image6,
    imageDescription,
    description,
} = content;
const date = new Date(content.date);
---

<BaseLayout title={title} description={description}>
    {
        image ? (
            <div class="relative">
                <h1 class="text-8xl md:text-5xl 2xl:text-6xl mb-[0.2em] font-extrabold text-white absolute z-50 w-full text-center top-7">
                    {title}
                </h1>
                <img
                    class="w-full mx-auto aspect-video relative"
                    src={image}
                    alt={imageDescription ?? title}
                />
            </div>
        ) : (
            <h1 class="my-4 text-4xl md:text-5xl 2xl:text-6xl mb-[0.2em] font-extrabold text-black absolute z-50 w-full text-center top-7">
                {title}
            </h1>
        )
    }

    <div class="flex flex-wrap justify-evenly mb-9 mt-2">
        <div>
            <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6 inline"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"></path>
            </svg>
            <time datetime={date.toISOString()}
                >{
                    date.toLocaleDateString("en-uk", {
                        day: "numeric",
                        month: "long",
                        year: "numeric",
                    })
                }</time
            >
        </div>
    </div>

    <div
        class="prose md:prose-lg 2xl:prose-xl px-4 mx-auto prose-pre:font-mono"
    >
        <slot />
    </div>

    <div class="grid gap-4">
        <div class="flex gap-4">
            <img
                onclick="
                location.href = '/blog/articles/Canada-my-second-article/'
                "
                class="w-2/6 aspect-video object-left flex"
                src={image3}
                alt={imageDescription ?? title}
            />

            <!--
            <a
                class="w-2/6 aspect-video object-left flex"
                href="/blog/articles/Canada-my-second-article/"
            >
            </a>
            -->

            <img
                class="w-2/6 aspect-video object-right flex"
                src={image4}
                alt={imageDescription ?? title}
            />

            <img
                class="w-2/6 aspect-video object-left flex"
                src={image5}
                alt={imageDescription ?? title}
            />
        </div>

        <div class="flex gap-4">
            <img
                class="w-2/6 aspect-video object-left flex"
                src={image6}
                alt={imageDescription ?? title}
            />

            <img
                class="w-2/6 aspect-video object-right flex"
                src={image2}
                alt={imageDescription ?? title}
            />

            <img
                class="w-2/6 aspect-video object-left flex"
                src={image1}
                alt={imageDescription ?? title}
            />
        </div>

        <div class="flex gap-4">
            <img
                class="w-2/6 aspect-video object-left flex"
                src={image1}
                alt={imageDescription ?? title}
            />

            <img
                class="w-2/6 aspect-video object-right flex"
                src={image2}
                alt={imageDescription ?? title}
            />

            <img
                class="w-2/6 aspect-video object-left flex"
                src={image1}
                alt={imageDescription ?? title}
            />
        </div>
    </div>
</BaseLayout>
